<section class="banner-promo">
  <h2 class="banner-promo__title">New arrival</h2>
  <div class="banner-promo__content">
    <img src="https://www.zr.ru/d/banner/25/37/01.png" alt="" class="banner-promo__image">
    <div class="banner-promo__text">
      <h3 class="banner-promo__text-title">iPhone 15 Pro</h3>
      <p class="banner-promo__text-description">iPhone 15 Pro is the first iPhone to feature an aerospace‑grade titanium design, using the same alloy that spacecraft use for missions to Mars. Titanium has one of the best strength‑to‑weight ratios of any metal, making these our lightest Pro models ever. You’ll notice the difference the moment you pick one up.</p>
      <p class="banner-promo__text-price">From $1 299</p>
      <button class="banner-promo__button" routerLink="/products/2">View more</button>
    </div>
  </div>
</section>
